.Container {
  height: 50vw;
  position: relative;
  width: 50%;
  max-width: 500px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 32px;
}

.title {
  font-size: 48px;
  color: white;
}

.DetailSection {
  margin-top: 16px;
  display: flex;
}

.Section1 {
  align-items: center;
}

.Section1 span {
  color: white;
  font-weight: bold;
  font-size: 14px;
}
.Section1 i {
  margin: 0 8px;
  color: white;
  font-size: 14px;
}

.Section2 p {
  font-size: 14px;
  margin: 0;
  color: #ffffffd6;
  line-height: 20px;
}

.Section3 {
  margin-top: 24px;
  align-items: center;
}

.Section3 span {
  margin: 0 8px;
  color: white;
}
.Section3 b {
  color: white;
  font-size: 14px;
}

.button {
  height: 48px;
  width: 316px;
  border-radius: 8px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
